<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>deo.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>deo.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FramerRegistrationServlet</servlet-name>
        <servlet-class>deo.FramerRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FramerLoginServlet</servlet-name>
        <servlet-class>deo.FramerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet1</servlet-name>
        <servlet-class>deo.AddProductServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDao</servlet-name>
        <servlet-class>Dao.ProductDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardServlet</servlet-name>
        <servlet-class>deo.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityIncDecServlet</servlet-name>
        <servlet-class>deo.QuantityIncDecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>deo.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>deo.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>deo.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderNowServlet</servlet-name>
        <servlet-class>deo.OrderNowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderNowServlet1</servlet-name>
        <servlet-class>deo.OrderNowServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FramerRegistrationServlet</servlet-name>
        <url-pattern>/FramerRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FramerLoginServlet</servlet-name>
        <url-pattern>/FramerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet1</servlet-name>
        <url-pattern>/AddProductServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDao</servlet-name>
        <url-pattern>/ProductDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardServlet</servlet-name>
        <url-pattern>/CardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityIncDecServlet</servlet-name>
        <url-pattern>/QuantityIncDecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderNowServlet</servlet-name>
        <url-pattern>/OrderNowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderNowServlet1</servlet-name>
        <url-pattern>/OrderNowServlet1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
